@font-face {
  font-family: 'streetvertising';
  src: url('../fonts/streetvertising_public/Streetvertising_Medium_public.ttf') format('truetype');
}
@font-face {
  font-family: 'chubGothic';
  src: url('../fonts/chubgothic_1.ttf') format('truetype');
}

header {
  a {
    color: black;
    text-decoration: none;
  }
  #name {
    padding-top: 10%;
    font-family: streetvertising;
    font-size: 50px;
  }
  #navlinks {
    font-size: 27px;
    font-family: chubGothic;
    a {
      background: linear-gradient(to right, crimson,pink,springgreen,skyblue,purple);
      background-size: 200% 200%;
      animation: rainbow 4s ease-in-out infinite;
      background-clip: text;
      -webkit-background-clip:text;
      color:rgba(0,0,0,1);
      transition: color .2s ease-in-out;

      &:hover {
        color:rgba(0,0,0,0);
      }
    }
  }
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}


#main {
  font-size: 125%;
  a {
    text-decoration: none;
    color: #A4A4CE;
  }
}

footer {
  a {
    color: black;
    text-decoration: none;
  }
  #linkedin {
    &:hover {
      color: #2867B2;
    }
    &:active {
      color: #3993FD;
    }
  }
  #github {
    &:hover {
      color: #6e5494;
    }
    &:active {
      color: #BE91FF;
    }
  }
  #instagram {
    &:hover {
      color: #fbad50;
    }
    &:active {
      color: #fccc63;
    }
  }
}
