html, body {
  height: 100%;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;

  font-family: sans-serif;
  text-align: center;
}

header {
  padding-top: 10%;
  font-size: 30px;
  height: 75px;
  min-height: 75px;
}

footer {
  height: 65px;
  flex-shrink: 0;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: hotpink;
  }

  &:active {
    color: blue;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 20px;
  padding: 0% 10% 5%;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
}
